<table border="0" width="100%" class="championship-list">
{foreach from=$csList item=it}
<tr><td>

<table border="1" width="100%" class="championship-data">
<tr>
	<td><div class="col-title">Date:</div><div class="col-data">A</div></td>
	<td colspan="2"><div class="col-title">Name:</div><div class="col-data">B</div></td>
</tr>
<tr>
	<td width="1px"><div class="col-title">Registration period:</div><div class="col-data">C</div></td>
	<td width="1px"><div class="col-title">Type:</div><div class="col-data">D</div></td>
	<td><div class="col-title">Categories:</div><div class="col-data">E</div></td>
</tr>
<tr>
	<td colspan="3"><div class="col-title">Additional info:</div><div class="col-data">F</div></td>
</tr>
</table>

</td></tr>
{/foreach}
</table>
