<input type="hidden" id="cl-id" value="{$clId}" />
<input type="hidden" id="cs-id" value="{$csId}" />
<table border="0" width="100%" class="championship-teams-list tBordered" cellspacing="0" cellpadding="5px">
<tr>
	<th colspan="3"><div class="table-title"><nobr>Registered teams:</nobr></div></th>
</tr>
<tr>
	<td colspan="3"><div class="buttons-bar">
	<span class="button button-small b-add">Add</span>
	<span class="button button-small b-edit">Edit</span>
	<span class="button button-small b-remove">Remove</span>
	<span class="button button-small b-back">Back</span>
	</div></td>
</tr>

{foreach from=$teamList item=it}

<tr>
	<td rowspan="2" class="check-box-cell" width="1px"><div class="col-data"><input type="checkbox" class="select-team" id="{$it.id}"/></div></td>
	<td colspan="2"><div class="col-title">Name:</div><div class="col-data"><a href="#" class="cs_team link" id="{$it.id}">{$it.name}</a></div></td>
</tr>
<tr>
	<td width="50%"><div class="col-title">Categories:</div><div class="col-data">{", "|implode:$it.team_categories}</div></td>
	<td width="50%"><div class="col-title">Dancers:</div><div class="col-data">{", "|implode:$it.team_dancers}</div></td>	
</tr>
<tr>
	<td colspan="3"></td>
</tr>
{/foreach}
<tr>
	<td colspan="3"><div class="buttons-bar">
	<span class="button button-small b-add">Add</span>
	<span class="button button-small b-edit">Edit</span>
	<span class="button button-small b-remove">Remove</span>
	<span class="button button-small b-back">Back</span>
	</div></td>
</tr>
</table>
<script type="text/javascript">
{literal}
$(document).ready(function () {
	$(".cs_team").each(function(i){
		$(this).click(function(e){
			e.preventDefault();
			id = $(this).attr('id');
			$.getJSON("?a=gc&m=team_info&id="+id, function(data){
				if(0 == data.err)
				{
					$("#content").html(data.data);
				}
			});
		});
	});
	$(".b-add").each(function(i){
		$(this).click(function(e){
			e.preventDefault();
			id = -1;
			csId = $("#cs-id").val();
			$.getJSON("?a=gc&m=team_info&add=1&cs="+csId+"&id="+id, function(data){
				if(0 == data.err)
				{
					$("#content").html(data.data);
				}
			});
		});
	});
	$(".b-edit").each(function(i){
		$(this).click(function(e){
			e.preventDefault();
		
			id = $(".select-team:checked").attr('id');
			if(id)
			{
				$.getJSON("?a=gc&m=team_info&id="+id, function(data){
					if(0 == data.err)
					{
						$("#content").html(data.data);
					}
				});
			}
		});
	});
	$(".b-remove").each(function(i){
		$(this).click(function(e){
			e.preventDefault();
			id = $(".select-team:checked").attr('id');
			if(id)
			{
				csId = $("#cs-id").val();
				$.getJSON("?a=gc&m=team_info&rm=1&id="+id, function(data){});
				$.getJSON("?a=gc&m=cs_teams&id="+csId, function(data){
					if(0 == data.err)
					{
						$("#content").html(data.data);
					}
				});
			}
		});
	});
	$(".b-back").each(function(i){
		$(this).click(function(e){
			e.preventDefault();
			csId = $("#cs-id").val();
			$.getJSON("?a=gc&m=cs_list", function(data){
				if(0 == data.err)
				{
					$("#content").html(data.data);
				}
			});
		});
	});
});
{/literal}
</script>
