<table border="0" width="100%" class="championship-teams-list tBordered" cellspacing="0" cellpadding="5px">
<tr>
	<th colspan="3"><div class="table-title"><nobr>Registered teams:</nobr></div></th>
</tr>

{foreach from=$teamList item=it}

<tr>
	<td colspan="2"><div class="col-title">Name:</div><div class="col-data"><a href="#" class="cs_team link" id="{$it.id}">{$it.name}</a></div></td>
</tr>
<tr>
	<td><div class="col-title">Categories:</div><div class="col-data">{", "|implode:$it.team_categories}</div></td>
	<td><div class="col-title">Dancers:</div><div class="col-data">{", "|implode:$it.team_dancers}</div></td>	
</tr>
<tr>
	<td colspan="2"></td>
</tr>
{/foreach}
</table>
<script type="text/javascript">
{literal}
$(document).ready(function () {
	$(".cs_team").each(function(i){
		$(this).click(function(e){
			e.preventDefault();
			id = $(this).attr('id');
			$.getJSON("?a=gc&m=team_info&id="+id, function(data){
				if(0 == data.err)
				{
					$("#content").html(data.data);
				}
			});
		});
	});
});
{/literal}
</script>
