<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{include file="head.tpl.html"}
<body>
    <center>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center" style="padding-left:20px;padding-right:20px">
                    <table width="100%" border="0" cellpadding="0" cellspacing="5">
					    <tr>
							<td id="main" class="bordered">
								{include file="loginform.tpl.html"}
								<table width="100%" border="0" cellpadding="0" cellspacing="0">
									<tr class='page-full-content'>
										<td  id="content" class='page-content bordered' valign="top" height="1px">
											{if $user_logined==1}
												{include file="championship_list.tpl.html"}
											{/if}
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
                            <td id="copyright" class="bordered">
                                {include file="copyright.tpl.html"}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
	</center>
</body>
{if $user_logined==1}
<script type="text/javascript">
{literal}
$(document).ready(function () {
	$.getJSON("?a=gc&m=cs_list", function(data){
		if(0 == data.err)
		{
			$("#content").html(data.data);
		}
	});
	//*/
});
{/literal}
</script>
{/if}
</html>
